@import "../../global/_globals.scss";

.codeBlock {
  font-family: Consolas, "courier new";
  color: $text-color;
  background-color: $default-focus-color;
  padding: 0.5rem;
  font-size: 105%;
  box-shadow: $default-drop-shadow;
  border-style: none;
  border-width: 1px;
  border-radius: 3px;
  border-color: black;
}