@import "../../global/_globals";

.codeStyling {
  font-family: Consolas, "courier new";
  font-size: 105%;
  color: $text-color;
}

.boxStyling {
  margin: 1em 0 1em 0;
  padding: 0.5em 1em 0 1em;
  min-width: 100px;
  box-shadow: $default-drop-shadow;
  background-color: $default-focus-color;
  border-style: none;
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
}
.rightButton {
  float: right;
  // position: absolute;
  // right: 1em;
  // margin-right: 1em; 
}

.buttonBox {
  float: right;
  color: $default-color;
  font-size: 1.25em;
  font-weight: bold;
  background-color: $default-focus-color;
}
.codeBox {
  // clear: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

