@import "../../global/_globals.scss";



.myCard {
  width: 100%;
  margin-bottom: 1.5rem;
  min-width: 100px;
  box-shadow: $default-drop-shadow;
  border-style: none;
  border-radius: 2px;
  border-color: black;
  border-width: 1px;
}