@import "../../global/_globals.scss";

.jw-container-all {
  background-color: $default-background-color;
  box-shadow: $default-drop-shadow;
  border-style: none;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
}
.md-jww-fixed-100 {
  width: 100%;
  padding: 0 1.5rem 1.5rem 1.5rem ;
}

.md-jww-fixed-75 {
  width: 75%;
  padding: 0 0 0 1.5rem;
}

.md-jww-fluid {
  width: 100%;
  // padding: 0 0.5rem 1.5rem 0.5rem;
}