
.md-jww-fixed-100 {
  width: 100%;
  padding: 0 1.5rem 1.5rem 1.5rem ;
}

.md-jww-fixed-75 {
  width: 75%;
  padding: 0 0 0 1.5rem;
}

.md-jww-fluid {
  width: 100%;
  padding: 0 1.5rem 1.5rem 1.5rem;
}