// Fonts

@font-face {
  font-family: PTSerif;
  src: url(./PTSerif-Bold.ttf);
}

$titleFont: PTSerif;

@font-face {
  font-family: RoofRunners;
  src: url(./roof-runners-active.regular.ttf);
}

$displayFont: RoofRunners;


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Colours

$default-color: rgb(35, 29, 29); // text color
$default-background-color: rgb(241, 231, 227); // default - should be overwritten by page background
$default-focus-color: #f1f1f1;
$text-color: rgb(199, 0, 0);

$default-drop-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);