@import "../../global/_globals.scss";

.title {
  font-family: $displayFont, 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-size: 6em;
  line-height: 1.75; 
  letter-spacing: 0.4rem; // spreads out letters in title
  text-align: center; // center the title
}

.buttonBox {
  padding: 0.5em;
  color: $default-color;
}
.dropdownTitle {
  font-size: 1.5em;
  font-weight: bold;
  color: $default-color;
  
}
.homeBox {
  margin: 1.5em;
  font-size: 2em;
  font-weight: bold;
}