@import "../../global/_globals.scss";

.md-jww-accordion-visible {
  display: block;
}
.md-jww-accordion-visible-body{
  // margin: 1em auto 1em 1em; 
  margin-bottom: 1em;
  margin-top: 0.5em;
  padding: 1em 0 1em 0;
  // width: 75vw;
    // margin-right: auto;
    // margin-bottom: 2.5rem;
    min-width: 100px;
    box-shadow: $default-drop-shadow;
    border-style: none;
    border-radius: 4px;
    border-color: black;
    border-width: 1px;
}

.md-jww-accordion-hidden {
  display: none;
}

.md-jww-accordion-clickable {
  cursor: pointer; 

}